<div class="sports-module">
  <h2>Schedule</h2>
  <div class="sports-info">
    <div class="sports-schedule">
      <%= data %>
    </div>
  </div>
</div>

<style>
  .sports-module h2 {
    margin-top: 0;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 25px;
  }

  .sports-info {
    text-align: center;
  }
</style>
