<div class="finance-module">
  <h2>Finance Information</h2>
  <div class="finance-info">
    <%= data %>
  </div>
</div>

<style>
  .finance-module h2 {
    margin-top: 0;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 25px;
  }

  .finance-info {
    padding: 10px;
    background: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.04);
  }
</style>
