<div class="network-module">
  <h2>Network Devices</h2>
  <div class="network-info">
    <ul>
      <% data.each do |device| %>
        <li class="<%= device[:friendly_name] == "Unknown Device" ? 'unknown-device' : '' %>">
          <strong><%= device[:friendly_name][0..15] %>...</strong> - <%= device[:ip_address] %>
          <br>
          (last seen <%= time_ago_in_words(device[:last_seen]) %> ago)
        </li>
      <% end %>
    </ul>
  </div>
</div>

<style>
  .network-module h2 {
    margin-top: 0;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 25px;
  }

  .network-info ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding: 0;
    margin: 0;
  }

  .network-info li {
    list-style: none;
    font-size: .8em;
    break-inside: avoid;
    background: #1e3c72;
    border-radius: 8px;
    margin: 4px 4px 4px 0;
    padding: 4px 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.04);
    transition: background 0.2s;
  }

  .unknown-device {
    background: #f44336 !important;
    color: white;
  }
</style>
